Deep Learning Project Data Exploration Notebook
Developed by: Mandy Sack August 2019

In [1]:
import os
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import scipy
import sklearn
import sys

In [2]:
# import the data
# first, verify you have the files in the correct location
print(os.path.isdir("data"))

dataDir = "data/"

print(os.path.isfile(dataDir+"content_polluters_classified.csv"))
print(os.path.isfile(dataDir+"legitimate_users_classified.csv"))

bDcolnames=['UserID','CreatedAt','CollectedAt', 'NumberOfFollowings', 'NumberOfFollowers', 'NumberOfTweets','LengthOfScreenName','LengthOfDescriptionInUserProfile','BadUser'] 
badData = pd.read_csv(dataDir+"content_polluters_classified.csv", names=bDcolnames)

nDcolnames=['UserID','CreatedAt','CollectedAt', 'NumberOfFollowings', 'NumberOfFollowers', 'NumberOfTweets','LengthOfScreenName','LengthOfDescriptionInUserProfile','BadUser']
normalData = pd.read_csv(dataDir+"legitimate_users_classified.csv", names=nDcolnames)

#TODO: make this configurable to enable your own data to be passed in

True
True
True

In [3]:
# merge the data together based on CollectedAt colum & save to file
mergedData = pd.concat([badData,normalData])
mergedData.sort_values(by=['CollectedAt'], inplace=True)
mergedData.to_csv(dataDir+"mergedData_classified.csv")
mergedData

,UserID,CreatedAt,CollectedAt,NumberOfFollowings,NumberOfFollowers,NumberOfTweets,LengthOfScreenName,LengthOfDescriptionInUserProfile,BadUser
5857,61932874,7/31/2009 20:59,1/1/2010 0:22,1351,767,87,15,160,1
4994,53389291,7/3/2009 8:50,1/1/2010 0:22,1413,1082,466,13,149,1
7865,80910809,10/8/2009 13:32,1/1/2010 0:22,1852,1123,231,11,145,1
4733,49911277,6/23/2009 2:01,1/1/2010 0:22,866,1485,74,8,0,1
7475,78144979,9/28/2009 17:47,1/1/2010 0:23,3353,3347,798,14,70,1
11455,100910119,12/31/2009 23:23,1/1/2010 0:23,67,1,2,13,0,1
2967,30323406,4/10/2009 16:57,1/1/2010 0:33,1936,855,127,15,55,1
6388,67007483,8/19/2009 9:03,1/1/2010 0:33,18316,19548,3362,14,125,1
8726,87631976,11/5/2009 0:41,1/1/2010 0:33,1555,1161,396,11,91,1
6544,68790423,8/25/2009 14:54,1/1/2010 0:46,3434,3296,865,9,80,1
10028,95127591,12/6/2009 21:31,1/1/2010 0:46,362,94,21,11,0,1
11409,100827492,12/31/2009 13:14,1/1/2010 0:47,952,10,0,7,157,1
8777,88013323,11/6/2009 13:26,1/1/2010 0:47,827,208,217,11,27,1
9239,90932034,11/18/2009 12:49,1/1/2010 0:47,791,119,227,13,51,1
9237,90931620,11/18/2009 12:47,1/1/2010 0:47,836,149,238,14,68,1
8339,85067955,10/25/2009 7:13,1/1/2010 0:48,1684,700,2585,9,64,1
9046,89837249,11/13/2009 18:56,1/1/2010 10:24,1499,638,931,8,51,1
11491,100979862,1/1/2010 7:54,1/1/2010 10:27,357,0,1,12,26,1
5963,62775913,8/4/2009 4:58,1/1/2010 10:47,7616,7011,2950,14,104,1
8261,84332050,10/22/2009 9:03,1/1/2010 10:48,2886,2691,1036,14,66,1
954,16900750,10/21/2008 23:54,1/1/2010 10:50,240,37,4,7,0,1
72,7400262,7/11/2007 7:30,1/1/2010 10:50,3051,3534,818,13,155,1
1722,19937098,2/2/2009 16:12,1/1/2010 10:52,39309,36143,5263,15,153,1
824,16472256,9/26/2008 14:03,1/1/2010 11:16,4903,4901,1214,13,85,1
46,5925682,5/10/2007 5:20,1/1/2010 11:46,16967,15424,11152,9,36,1
11428,100869831,12/31/2009 18:30,1/1/2010 11:46,210,0,0,14,0,1
11435,100876414,12/31/2009 19:24,1/1/2010 11:47,950,3,0,9,31,1
9677,92989672,11/27/2009 9:31,1/1/2010 12:16,880,23,22,8,103,1
3719,39352567,5/11/2009 16:54,1/1/2010 12:17,4904,4458,1446,15,159,1
1445,18756494,1/8/2009 0:42,1/1/2010 12:18,3276,2984,459,7,0,1
...,...,...,...,...,...,...,...,...,...
22208,173404110,8/1/2010 6:09,8/2/2010 3:14,597,81,0,15,0,1
15439,116403859,2/22/2010 3:47,8/2/2010 3:36,1776,600,1969,14,16,1
22220,173721018,8/2/2010 0:23,8/2/2010 3:37,67,9,21,13,0,1
22219,173718053,8/2/2010 0:10,8/2/2010 3:37,83,10,35,8,0,1
19698,141755168,5/8/2010 18:43,8/2/2010 3:59,901,208,956,12,0,1
20186,145720081,5/19/2010 13:08,8/2/2010 3:59,1473,463,306,14,86,1
20705,151415237,6/3/2010 5:41,8/2/2010 4:00,191,17,16,6,18,1
3221,33600372,4/20/2009 12:57,8/2/2010 4:23,15939,15181,23521,8,86,1
7263,75547998,9/19/2009 8:26,8/2/2010 4:23,1314,335,5193,12,124,1
18736,135735189,4/21/2010 22:43,8/2/2010 4:48,1149,794,548,15,0,1
22222,173766965,8/2/2010 4:02,8/2/2010 4:48,12,0,1,13,0,1
22124,170016290,7/23/2010 13:55,8/2/2010 4:48,196,11,37,15,144,1
15546,116616620,2/22/2010 20:52,8/2/2010 4:48,328,77,114,10,0,1
21104,155385475,6/13/2010 19:44,8/2/2010 5:11,1733,1138,99,15,30,1
7661,78933181,10/1/2009 10:41,8/2/2010 5:11,296,51,70,8,86,1
21396,158840946,6/23/2010 15:07,8/2/2010 5:34,791,652,10,15,0,1
6007,63303879,8/5/2009 19:03,8/2/2010 5:34,223,272,179,10,48,1
1233,18014787,12/10/2008 1:32,8/2/2010 5:57,758,326,609,8,132,1
21388,158693998,6/23/2010 5:33,8/2/2010 5:57,1380,188,230,8,44,1
4476,47073286,6/14/2009 5:58,8/2/2010 6:21,17145,16243,2694,15,40,1
7664,78933486,10/1/2009 10:42,8/2/2010 6:21,368,58,30,12,82,1
19742,142212063,5/10/2010 3:09,8/2/2010 6:21,172,11,6,11,148,1
16695,122670832,3/13/2010 7:48,8/2/2010 6:21,681,189,124,14,148,1
16499,121676973,3/10/2010 1:09,8/2/2010 6:46,180,87,203,12,0,1
7665,78935634,10/1/2009 10:51,8/2/2010 7:09,346,42,2,10,67,1
14294,110958700,2/3/2010 4:19,8/2/2010 7:09,576,385,601,8,15,1
14662,112512877,2/8/2010 13:35,8/2/2010 7:55,2165,2022,4051,12,0,1
21677,162427782,7/3/2010 11:55,8/2/2010 8:18,163,11,25,12,5,1
20125,145173174,5/18/2010 3:49,8/2/2010 8:18,1183,1596,18,9,0,1
12114,102401270,1/6/2010 9:36,8/2/2010 9:52,9737,9060,63526,10,141,1

In [4]:
#Explore badData dataset seperately
print("badData shape")
print(format(badData.shape))
print("\n")
print("badData NumberOfFollowings describe")
print(badData['NumberOfFollowings'].describe())
print("\n")
print("badData NumberOfFollowers describe")
print(badData['NumberOfFollowers'].describe())
print("\n")
print("badData NumberOfTweets describe")
print(badData['NumberOfTweets'].describe())
print("\n")
print("badData LengthOfScreenName describe")
print(badData['LengthOfScreenName'].describe())
print("\n")
print("badData LengthOfDescriptionInUserProfile describe")
print(badData['LengthOfDescriptionInUserProfile'].describe())

badData shape
(22223, 9)


badData NumberOfFollowings describe
count     22223.000000
mean       2212.416775
std        5376.689112
min           0.000000
25%         326.500000
50%         874.000000
75%        1878.000000
max      109388.000000
Name: NumberOfFollowings, dtype: float64


badData NumberOfFollowers describe
count    2.222300e+04
mean     2.308996e+03
std      3.415880e+04
min      0.000000e+00
25%      6.500000e+01
50%      2.950000e+02
75%      1.224000e+03
max      4.309347e+06
Name: NumberOfFollowers, dtype: float64


badData NumberOfTweets describe
count     22223.000000
mean       1135.044548
std        4301.928411
min           0.000000
25%          16.000000
50%         113.000000
75%         636.000000
max      148047.000000
Name: NumberOfTweets, dtype: float64


badData LengthOfScreenName describe
count    22223.000000
mean        11.283445
std          2.630156
min          2.000000
25%          9.000000
50%         11.000000
75%         13.000000
max         15.000000
Name: LengthOfScreenName, dtype: float64


badData LengthOfDescriptionInUserProfile describe
count    22223.000000
mean        60.113981
std         54.093454
min          0.000000
25%          0.000000
50%         54.000000
75%        104.000000
max        474.000000
Name: LengthOfDescriptionInUserProfile, dtype: float64

In [5]:
#Explore normalData dataset seperately
print("normalData shape")
print(format(normalData.shape))
print("\n")
print("normalDataData NumberOfFollowings describe")
print(normalData['NumberOfFollowings'].describe())
print("\n")
print("normalDataData NumberOfFollowers describe")
print(normalData['NumberOfFollowers'].describe())
print("\n")
print("normalDataData NumberOfTweets describe")
print(normalData['NumberOfTweets'].describe())
print("\n")
print("normalDataData LengthOfScreenName describe")
print(normalData['LengthOfScreenName'].describe())
print("\n")
print("normalDataData LengthOfDescriptionInUserProfile describe")
print(normalData['LengthOfDescriptionInUserProfile'].describe())

normalData shape
(19276, 9)


normalDataData NumberOfFollowings describe
count    19276.000000
mean       327.764163
std       1792.527564
min          0.000000
25%         33.000000
50%         83.000000
75%        197.000000
max      72633.000000
Name: NumberOfFollowings, dtype: float64


normalDataData NumberOfFollowers describe
count     19276.000000
mean        547.024798
std        6654.164342
min           0.000000
25%          30.000000
50%          86.000000
75%         242.000000
max      631329.000000
Name: NumberOfFollowers, dtype: float64


normalDataData NumberOfTweets describe
count     19276.000000
mean       2571.561424
std        6299.568722
min           0.000000
25%         216.000000
50%         836.000000
75%        2579.250000
max      350453.000000
Name: NumberOfTweets, dtype: float64


normalDataData LengthOfScreenName describe
count    19276.000000
mean        10.164713
std          2.773471
min          3.000000
25%          8.000000
50%         10.000000
75%         12.000000
max         15.000000
Name: LengthOfScreenName, dtype: float64


normalDataData LengthOfDescriptionInUserProfile describe
count    19276.000000
mean        46.948122
std         48.393677
min          0.000000
25%          0.000000
50%         34.000000
75%         78.000000
max        160.000000
Name: LengthOfDescriptionInUserProfile, dtype: float64

In [6]:
#Explore mergedData dataset seperately
print("mergedData shape")
print(format(mergedData.shape))
print("\n")
print("mergedData NumberOfFollowings describe")
print(mergedData['NumberOfFollowings'].describe())
print("\n")
print("mergedData NumberOfFollowers describe")
print(mergedData['NumberOfFollowers'].describe())
print("\n")
print("mergedData NumberOfTweets describe")
print(mergedData['NumberOfTweets'].describe())
print("\n")
print("mergedData LengthOfScreenName describe")
print(mergedData['LengthOfScreenName'].describe())
print("\n")
print("mergedData LengthOfDescriptionInUserProfile describe")
print(mergedData['LengthOfDescriptionInUserProfile'].describe())

mergedData shape
(41499, 9)


mergedData NumberOfFollowings describe
count     41499.000000
mean       1337.008603
std        4225.695112
min           0.000000
25%          76.000000
50%         285.000000
75%        1119.000000
max      109388.000000
Name: NumberOfFollowings, dtype: float64


mergedData NumberOfFollowers describe
count    4.149900e+04
mean     1.490572e+03
std      2.541982e+04
min      0.000000e+00
25%      4.000000e+01
50%      1.490000e+02
75%      6.160000e+02
max      4.309347e+06
Name: NumberOfFollowers, dtype: float64


mergedData NumberOfTweets describe
count     41499.000000
mean       1802.296754
std        5371.796703
min           0.000000
25%          49.000000
50%         334.000000
75%        1511.000000
max      350453.000000
Name: NumberOfTweets, dtype: float64


mergedData LengthOfScreenName describe
count    41499.000000
mean        10.763802
std          2.754737
min          2.000000
25%          9.000000
50%         11.000000
75%         13.000000
max         15.000000
Name: LengthOfScreenName, dtype: float64


mergedData LengthOfDescriptionInUserProfile describe
count    41499.000000
mean        53.998530
std         51.940551
min          0.000000
25%          0.000000
50%         43.000000
75%         93.000000
max        474.000000
Name: LengthOfDescriptionInUserProfile, dtype: float64

In [7]:
#TODO Merge together the columns of features for plotting
#Let's plot features to determine if anything stands out