# Deep Learning Project

Developed by: Mandy Sack
August 2019

In [1]:
import scipy
import numpy as np
import matplotlib
import pandas as pd
import sklearn
import os
import sys

In [2]:
# import the data
#first, verify you have the files in the correct location
print(os.path.isdir("social_honeypot_icwsm_2011"))
print(os.path.isfile("social_honeypot_icwsm_2011\content_polluters.csv"))
print(os.path.isfile("social_honeypot_icwsm_2011\legitimate_users.csv"))

bDcolnames=['UserID','CreatedAt','CollectedAt', 'NumberOfFollowings', 'NumberOfFollowers', 'NumberOfTweets','LengthOfScreenName','LengthOfDescriptionInUserProfile'] 
badData = pd.read_csv("social_honeypot_icwsm_2011\content_polluters.csv", names=bDcolnames)

nDcolnames=['UserID','CreatedAt','CollectedAt', 'NumberOfFollowings', 'NumberOfFollowers', 'NumberOfTweets','LengthOfScreenName','LengthOfDescriptionInUserProfile']
normalData = pd.read_csv("social_honeypot_icwsm_2011\legitimate_users.csv", names=nDcolnames)

#TODO: make this configurable to enable your own data to be passed in

True
True
True

In [3]:
print(badData.head(3))
print(normalData.head(3))

   UserID         CreatedAt      CollectedAt  NumberOfFollowings  \
0    6301    9/18/2006 1:07  1/17/2010 20:38                3269
1   10836  10/27/2006 14:38   6/18/2010 3:35                1949
2   10997   10/29/2006 9:50   4/24/2010 1:12                1119

   NumberOfFollowers  NumberOfTweets  LengthOfScreenName  \
0               3071             861                   8
1                793             226                   9
2               9644           38674                  12

   LengthOfDescriptionInUserProfile
0                               132
1                               134
2                               158
   UserID        CreatedAt       CollectedAt  NumberOfFollowings  \
0     614  7/13/2006 15:30  11/20/2009 23:56                 510
1    1038  7/15/2006 16:12   11/16/2009 5:12                 304
2    1437  7/16/2006 12:29  11/16/2009 16:25                  45

   NumberOfFollowers  NumberOfTweets  LengthOfScreenName  \
0                350            3265                  10
1                443            4405                   7
2                 73             725                   6

   LengthOfDescriptionInUserProfile
0                                34
1                               156
2                                37

In [4]:
#insert classification of 0 or 1 based on if good or bad user
#TODO- this does not change accurately once the two datasets are merged
badData.insert(8, "Bad User", 1, True) 
#print(badData.head(3))

normalData.insert(8,"Bad User",0, True)
#print(normalData.head(3))

In [5]:
#set the Collected column to a datetime object 
badData.CollectedAt = pd.to_datetime(badData.CollectedAt)
normalData.CollectedAt = pd.to_datetime(normalData.CollectedAt)

In [6]:
#merge the data together for 1 dataset based on CollectedAt time & save to file
#mergedData = pd.merge_ordered(badData, normalData, fill_method='ffill', on='CollectedAt')
#mergedData = pd.merge_ordered(badData, normalData, fill_method='ffill', left_on='CollectedAt', right_on='CollectedAt')
mergedData = pd.concat([badData,normalData])
mergedData.sort_values(by=['CollectedAt'], inplace=True)
mergedData.to_csv("social_honeypot_icwsm_2011\mergedData.csv")
mergedData

,UserID,CreatedAt,CollectedAt,NumberOfFollowings,NumberOfFollowers,NumberOfTweets,LengthOfScreenName,LengthOfDescriptionInUserProfile,Bad User
7778,34095248,4/21/2009 18:46,2009-11-12 15:43:00,17,74,1242,12,80,0
13259,60545096,7/27/2009 4:16,2009-11-12 15:43:00,228,209,7753,7,126,0
9445,41365980,5/20/2009 9:14,2009-11-12 15:46:00,76,59,156,6,67,0
12771,58027388,7/18/2009 15:44,2009-11-12 15:46:00,172,244,3508,12,0,0
6919,30099427,4/9/2009 18:43,2009-11-12 15:46:00,65,141,8149,6,64,0
98,1039441,3/12/2007 15:30,2009-11-12 15:46:00,597,562,2910,11,79,0
8444,37175817,5/2/2009 5:26,2009-11-12 15:48:00,183,157,935,12,132,0
9409,41224205,5/19/2009 17:07,2009-11-12 15:48:00,29,24,83,15,0,0
16117,76422442,9/22/2009 14:22,2009-11-12 15:49:00,44,11,5,15,0,0
6944,30211671,4/10/2009 8:06,2009-11-12 15:50:00,357,548,9686,13,139,0
1555,15086035,6/11/2008 11:03,2009-11-12 15:51:00,1165,943,413,13,120,0
4905,23233155,3/7/2009 14:52,2009-11-12 15:56:00,404,670,4977,13,61,0
9910,43372938,5/29/2009 12:37,2009-11-12 15:57:00,40,24,85,9,31,0
8515,37516422,5/3/2009 17:14,2009-11-12 15:59:00,625,121,9392,8,19,0
10196,44750106,6/4/2009 17:45,2009-11-12 16:00:00,20,18,16,10,0,0
6269,27686174,3/30/2009 12:29,2009-11-12 16:00:00,125,112,15082,7,132,0
15544,73003871,9/9/2009 20:08,2009-11-12 16:00:00,303,41,47,7,0,0
3055,18231854,12/18/2008 20:09,2009-11-12 16:01:00,93,137,6305,11,21,0
14820,68905815,8/26/2009 0:20,2009-11-12 16:03:00,44,34,371,15,44,0
12913,58714578,7/21/2009 0:26,2009-11-12 16:03:00,91,105,557,12,0,0
18102,87292595,11/3/2009 15:53,2009-11-12 16:05:00,554,87,194,9,41,0
3501,19228051,1/20/2009 4:35,2009-11-12 16:05:00,246,125,2540,5,0,0
7037,30493679,4/11/2009 13:15,2009-11-12 16:05:00,115,295,1052,9,106,0
17259,82878454,10/16/2009 8:29,2009-11-12 16:07:00,44,86,106,12,39,0
5436,24968525,3/17/2009 17:22,2009-11-12 16:09:00,176,265,2902,11,0,0
16272,77242929,9/25/2009 10:49,2009-11-12 16:10:00,82,63,34,13,76,0
7452,32495259,4/17/2009 12:45,2009-11-12 16:10:00,66,73,6336,7,138,0
1300,14563057,4/27/2008 18:54,2009-11-12 16:11:00,91,173,2491,9,57,0
10060,44065922,6/2/2009 0:25,2009-11-12 16:12:00,276,336,6876,13,41,0
12025,53992427,7/5/2009 15:08,2009-11-12 16:12:00,133,114,56,11,0,0
...,...,...,...,...,...,...,...,...,...
22220,173721018,8/2/2010 0:23,2010-08-02 03:37:00,67,9,21,13,0,1
19698,141755168,5/8/2010 18:43,2010-08-02 03:59:00,901,208,956,12,0,1
20186,145720081,5/19/2010 13:08,2010-08-02 03:59:00,1473,463,306,14,86,1
20705,151415237,6/3/2010 5:41,2010-08-02 04:00:00,191,17,16,6,18,1
7263,75547998,9/19/2009 8:26,2010-08-02 04:23:00,1314,335,5193,12,124,1
3221,33600372,4/20/2009 12:57,2010-08-02 04:23:00,15939,15181,23521,8,86,1
18736,135735189,4/21/2010 22:43,2010-08-02 04:48:00,1149,794,548,15,0,1
22124,170016290,7/23/2010 13:55,2010-08-02 04:48:00,196,11,37,15,144,1
15546,116616620,2/22/2010 20:52,2010-08-02 04:48:00,328,77,114,10,0,1
22222,173766965,8/2/2010 4:02,2010-08-02 04:48:00,12,0,1,13,0,1
7661,78933181,10/1/2009 10:41,2010-08-02 05:11:00,296,51,70,8,86,1
21104,155385475,6/13/2010 19:44,2010-08-02 05:11:00,1733,1138,99,15,30,1
6007,63303879,8/5/2009 19:03,2010-08-02 05:34:00,223,272,179,10,48,1
21396,158840946,6/23/2010 15:07,2010-08-02 05:34:00,791,652,10,15,0,1
1233,18014787,12/10/2008 1:32,2010-08-02 05:57:00,758,326,609,8,132,1
21388,158693998,6/23/2010 5:33,2010-08-02 05:57:00,1380,188,230,8,44,1
7664,78933486,10/1/2009 10:42,2010-08-02 06:21:00,368,58,30,12,82,1
16695,122670832,3/13/2010 7:48,2010-08-02 06:21:00,681,189,124,14,148,1
4476,47073286,6/14/2009 5:58,2010-08-02 06:21:00,17145,16243,2694,15,40,1
19742,142212063,5/10/2010 3:09,2010-08-02 06:21:00,172,11,6,11,148,1
16499,121676973,3/10/2010 1:09,2010-08-02 06:46:00,180,87,203,12,0,1
14294,110958700,2/3/2010 4:19,2010-08-02 07:09:00,576,385,601,8,15,1
7665,78935634,10/1/2009 10:51,2010-08-02 07:09:00,346,42,2,10,67,1
14662,112512877,2/8/2010 13:35,2010-08-02 07:55:00,2165,2022,4051,12,0,1
21677,162427782,7/3/2010 11:55,2010-08-02 08:18:00,163,11,25,12,5,1
20125,145173174,5/18/2010 3:49,2010-08-02 08:18:00,1183,1596,18,9,0,1
12114,102401270,1/6/2010 9:36,2010-08-02 09:52:00,9737,9060,63526,10,141,1
22159,171638815,7/27/2010 15:36,2010-08-02 10:39:00,442,140,90,15,81,1
8746,87761250,11/5/2009 13:22,2010-08-02 11:52:00,1196,1050,1543,15,47,1
93,8293982,8/19/2007 18:42,2010-08-02 13:25:00,1444,1092,1806,8,92,1

In [7]:
#Explore each data seperately

print("normalData shape")
print(format(normalData.shape))
print("badData shape")
print(format(badData.shape))
print("mergedData shape")
print(format(mergedData.shape))

normalData shape
(19276, 9)
badData shape
(22223, 9)
mergedData shape
(41499, 9)

In [8]:
print("bad data index")
print(badData.index)

print("badData columns")
print(badData.columns)
#print("badData to numpy")
#print(badData.to_numpy())

print("badData describe")
print(badData.describe())

#print("badData T")
#print(badData.T)
print("df sorting by index")
print(badData.sort_index(axis=1, ascending=False).head(3))

print("df sorting by values")
print(badData.sort_values(by='CollectedAt').head(3))

print(normalData.head(3))
print(badData.head(3))
#sort the UserID column

bad data index
RangeIndex(start=0, stop=22223, step=1)
badData columns
Index(['UserID', 'CreatedAt', 'CollectedAt', 'NumberOfFollowings',
       'NumberOfFollowers', 'NumberOfTweets', 'LengthOfScreenName',
       'LengthOfDescriptionInUserProfile', 'Bad User'],
      dtype='object')
badData describe
             UserID  NumberOfFollowings  NumberOfFollowers  NumberOfTweets  \
count  2.222300e+04        22223.000000       2.222300e+04    22223.000000
mean   9.158609e+07         2212.416775       2.308996e+03     1135.044548
std    4.236440e+07         5376.689112       3.415880e+04     4301.928411
min    6.301000e+03            0.000000       0.000000e+00        0.000000
25%    5.912933e+07          326.500000       6.500000e+01       16.000000
50%    9.993590e+07          874.000000       2.950000e+02      113.000000
75%    1.225270e+08         1878.000000       1.224000e+03      636.000000
max    1.737670e+08       109388.000000       4.309347e+06   148047.000000

       LengthOfScreenName  LengthOfDescriptionInUserProfile  Bad User
count        22223.000000                      22223.000000   22223.0
mean            11.283445                         60.113981       1.0
std              2.630156                         54.093454       0.0
min              2.000000                          0.000000       1.0
25%              9.000000                          0.000000       1.0
50%             11.000000                         54.000000       1.0
75%             13.000000                        104.000000       1.0
max             15.000000                        474.000000       1.0
df sorting by index
   UserID  NumberOfTweets  NumberOfFollowings  NumberOfFollowers  \
0    6301             861                3269               3071
1   10836             226                1949                793
2   10997           38674                1119               9644

   LengthOfScreenName  LengthOfDescriptionInUserProfile         CreatedAt  \
0                   8                               132    9/18/2006 1:07
1                   9                               134  10/27/2006 14:38
2                  12                               158   10/29/2006 9:50

          CollectedAt  Bad User
0 2010-01-17 20:38:00         1
1 2010-06-18 03:35:00         1
2 2010-04-24 01:12:00         1
df sorting by values
          UserID         CreatedAt         CollectedAt  NumberOfFollowings  \
11150  100076521  12/28/2009 17:28 2009-12-30 18:20:00                   1
11131  100000937  12/28/2009 11:23 2009-12-30 18:20:00                   1
11005   99356505  12/25/2009 14:38 2009-12-30 18:20:00                   1

       NumberOfFollowers  NumberOfTweets  LengthOfScreenName  \
11150                  0               1                   9
11131                  1               1                   8
11005                  1               2                   6

       LengthOfDescriptionInUserProfile  Bad User
11150                                 0         1
11131                                 0         1
11005                                 0         1
   UserID        CreatedAt         CollectedAt  NumberOfFollowings  \
0     614  7/13/2006 15:30 2009-11-20 23:56:00                 510
1    1038  7/15/2006 16:12 2009-11-16 05:12:00                 304
2    1437  7/16/2006 12:29 2009-11-16 16:25:00                  45

   NumberOfFollowers  NumberOfTweets  LengthOfScreenName  \
0                350            3265                  10
1                443            4405                   7
2                 73             725                   6

   LengthOfDescriptionInUserProfile  Bad User
0                                34         0
1                               156         0
2                                37         0
   UserID         CreatedAt         CollectedAt  NumberOfFollowings  \
0    6301    9/18/2006 1:07 2010-01-17 20:38:00                3269
1   10836  10/27/2006 14:38 2010-06-18 03:35:00                1949
2   10997   10/29/2006 9:50 2010-04-24 01:12:00                1119

   NumberOfFollowers  NumberOfTweets  LengthOfScreenName  \
0               3071             861                   8
1                793             226                   9
2               9644           38674                  12

   LengthOfDescriptionInUserProfile  Bad User
0                               132         1
1                               134         1
2                               158         1