# Deep Learning Project

Developed by: Mandy Sack
August 2019

In [1]:
import scipy
import numpy as np
import matplotlib
import pandas as pd
import sklearn
import os
import sys

In [2]:
# import the data
#first, verify you have the files in the correct location
print(os.path.isdir("social_honeypot_icwsm_2011"))
print(os.path.isfile("social_honeypot_icwsm_2011\content_polluters.csv"))
print(os.path.isfile("social_honeypot_icwsm_2011\legitimate_users.csv"))

bDcolnames=['UserID','CreatedAt','CollectedAt', 'NumberOfFollowings', 'NumberOfFollowers', 'NumberOfTweets','LengthOfScreenName','LengthOfDescriptionInUserProfile'] 
badData = pd.read_csv("social_honeypot_icwsm_2011\content_polluters.csv", names=bDcolnames)

nDcolnames=['UserID','CreatedAt','CollectedAt', 'NumberOfFollowings', 'NumberOfFollowers', 'NumberOfTweets','LengthOfScreenName','LengthOfDescriptionInUserProfile']
normalData = pd.read_csv("social_honeypot_icwsm_2011\legitimate_users.csv", names=nDcolnames)

#TODO: make this configurable to enable your own data to be passed in

True
True
True

In [3]:
print(badData.head(3))
print(normalData.head(3))

   UserID         CreatedAt      CollectedAt  NumberOfFollowings  \
0    6301    9/18/2006 1:07  1/17/2010 20:38                3269
1   10836  10/27/2006 14:38   6/18/2010 3:35                1949
2   10997   10/29/2006 9:50   4/24/2010 1:12                1119

   NumberOfFollowers  NumberOfTweets  LengthOfScreenName  \
0               3071             861                   8
1                793             226                   9
2               9644           38674                  12

   LengthOfDescriptionInUserProfile
0                               132
1                               134
2                               158
   UserID        CreatedAt       CollectedAt  NumberOfFollowings  \
0     614  7/13/2006 15:30  11/20/2009 23:56                 510
1    1038  7/15/2006 16:12   11/16/2009 5:12                 304
2    1437  7/16/2006 12:29  11/16/2009 16:25                  45

   NumberOfFollowers  NumberOfTweets  LengthOfScreenName  \
0                350            3265                  10
1                443            4405                   7
2                 73             725                   6

   LengthOfDescriptionInUserProfile
0                                34
1                               156
2                                37

In [4]:
#insert classification of 0 or 1 based on if good or bad user
badData.insert(8, "Bad User", 1, True) 
#print(badData.head(3))

normalData.insert(8,"Bad User",0, True)
#print(normalData.head(3))

In [5]:
#set the Collected column to a datetime object & sort
badData.CollectedAt = pd.to_datetime(badData.CollectedAt)
normalData.CollectedAt = pd.to_datetime(normalData.CollectedAt)

badData.sort_values(by=['CollectedAt'], na_position='first')
normalData.sort_values(by=['CollectedAt'], na_position='first')

,UserID,CreatedAt,CollectedAt,NumberOfFollowings,NumberOfFollowers,NumberOfTweets,LengthOfScreenName,LengthOfDescriptionInUserProfile,Bad User
7778,34095248,4/21/2009 18:46,2009-11-12 15:43:00,17,74,1242,12,80,0
13259,60545096,7/27/2009 4:16,2009-11-12 15:43:00,228,209,7753,7,126,0
9445,41365980,5/20/2009 9:14,2009-11-12 15:46:00,76,59,156,6,67,0
98,1039441,3/12/2007 15:30,2009-11-12 15:46:00,597,562,2910,11,79,0
6919,30099427,4/9/2009 18:43,2009-11-12 15:46:00,65,141,8149,6,64,0
12771,58027388,7/18/2009 15:44,2009-11-12 15:46:00,172,244,3508,12,0,0
8444,37175817,5/2/2009 5:26,2009-11-12 15:48:00,183,157,935,12,132,0
9409,41224205,5/19/2009 17:07,2009-11-12 15:48:00,29,24,83,15,0,0
16117,76422442,9/22/2009 14:22,2009-11-12 15:49:00,44,11,5,15,0,0
6944,30211671,4/10/2009 8:06,2009-11-12 15:50:00,357,548,9686,13,139,0
1555,15086035,6/11/2008 11:03,2009-11-12 15:51:00,1165,943,413,13,120,0
4905,23233155,3/7/2009 14:52,2009-11-12 15:56:00,404,670,4977,13,61,0
9910,43372938,5/29/2009 12:37,2009-11-12 15:57:00,40,24,85,9,31,0
8515,37516422,5/3/2009 17:14,2009-11-12 15:59:00,625,121,9392,8,19,0
10196,44750106,6/4/2009 17:45,2009-11-12 16:00:00,20,18,16,10,0,0
15544,73003871,9/9/2009 20:08,2009-11-12 16:00:00,303,41,47,7,0,0
6269,27686174,3/30/2009 12:29,2009-11-12 16:00:00,125,112,15082,7,132,0
3055,18231854,12/18/2008 20:09,2009-11-12 16:01:00,93,137,6305,11,21,0
14820,68905815,8/26/2009 0:20,2009-11-12 16:03:00,44,34,371,15,44,0
12913,58714578,7/21/2009 0:26,2009-11-12 16:03:00,91,105,557,12,0,0
3501,19228051,1/20/2009 4:35,2009-11-12 16:05:00,246,125,2540,5,0,0
7037,30493679,4/11/2009 13:15,2009-11-12 16:05:00,115,295,1052,9,106,0
18102,87292595,11/3/2009 15:53,2009-11-12 16:05:00,554,87,194,9,41,0
17259,82878454,10/16/2009 8:29,2009-11-12 16:07:00,44,86,106,12,39,0
5436,24968525,3/17/2009 17:22,2009-11-12 16:09:00,176,265,2902,11,0,0
7452,32495259,4/17/2009 12:45,2009-11-12 16:10:00,66,73,6336,7,138,0
16272,77242929,9/25/2009 10:49,2009-11-12 16:10:00,82,63,34,13,76,0
1300,14563057,4/27/2008 18:54,2009-11-12 16:11:00,91,173,2491,9,57,0
15685,73891744,9/13/2009 9:18,2009-11-12 16:12:00,30,9,117,8,0,0
10060,44065922,6/2/2009 0:25,2009-11-12 16:12:00,276,336,6876,13,41,0
...,...,...,...,...,...,...,...,...,...
9136,40233133,5/15/2009 7:52,2009-11-29 14:24:00,389,808,473,15,0,0
10547,46453521,6/11/2009 13:31,2009-11-29 14:26:00,111,40,676,11,150,0
19119,92204931,11/23/2009 23:10,2009-11-29 14:28:00,0,1,2,10,32,0
720,10158172,11/11/2007 12:21,2009-11-29 14:28:00,60,27,61,7,58,0
14724,68279570,8/23/2009 19:38,2009-11-29 14:28:00,71,43,228,12,0,0
10438,45880504,6/9/2009 11:51,2009-11-29 14:30:00,54,132,965,11,109,0
9707,42518647,5/25/2009 19:02,2009-11-29 14:31:00,50,199,5487,15,33,0
10485,46159002,6/10/2009 11:52,2009-11-29 14:32:00,169,173,1120,10,85,0
14889,69240098,8/27/2009 3:36,2009-11-29 14:34:00,45,28,448,9,19,0
7322,31621886,4/15/2009 22:11,2009-11-29 14:35:00,519,589,3303,5,63,0
17461,83790921,10/20/2009 2:27,2009-11-29 14:36:00,191,208,3845,9,0,0
13947,64212501,8/9/2009 12:24,2009-11-29 14:37:00,56,60,907,8,27,0
3826,19968285,2/3/2009 6:48,2009-11-29 14:37:00,59,97,1743,14,0,0
7242,31250906,4/14/2009 17:39,2009-11-29 14:37:00,1160,832,12356,8,65,0
10901,48175725,6/17/2009 19:19,2009-11-29 14:42:00,113,215,9769,8,55,0
6979,30322593,4/10/2009 16:53,2009-11-29 14:44:00,58,64,1627,8,0,0
1167,14351392,4/10/2008 9:14,2009-11-29 14:45:00,276,295,2282,6,74,0
12304,55465433,7/9/2009 23:09,2009-11-29 14:47:00,57,57,6092,10,87,0
3662,19603310,1/27/2009 11:30,2009-11-29 14:47:00,129,132,1572,13,156,0
16107,76393638,9/22/2009 12:33,2009-11-29 14:47:00,643,122,278,10,0,0
8254,36221062,4/28/2009 19:04,2009-11-29 14:49:00,42,30,526,11,0,0
18099,87279221,11/3/2009 14:50,2009-11-29 14:51:00,60,14,291,15,0,0
4086,20660370,2/12/2009 1:29,2009-11-29 14:52:00,5,8,85,7,17,0
11185,49668008,6/22/2009 10:50,2009-11-29 14:53:00,22,32,539,8,60,0
19212,92800833,11/26/2009 11:48,2009-11-29 14:53:00,25,1,32,9,0,0
5551,25321082,3/19/2009 10:43,2009-11-29 14:57:00,14,13,35,12,72,0
11597,51789243,6/28/2009 12:44,2009-11-29 15:00:00,49,49,475,15,0,0
3597,19460348,1/24/2009 13:53,2009-11-29 15:03:00,49,92,442,7,26,0
5484,25115377,3/18/2009 12:44,2009-11-29 15:03:00,389,241,3508,10,13,0
2353,16637952,10/7/2008 17:04,2009-11-29 15:05:00,178,67,2685,11,104,0

In [6]:
#merge the data together for 1 dataset based on CollectedAt time & save to file
df_merged_data = pd.merge_ordered(badData, normalData, fill_method='ffill', left_by='CollectedAt')
df_merged_data

,UserID,CreatedAt,CollectedAt,NumberOfFollowings,NumberOfFollowers,NumberOfTweets,LengthOfScreenName,LengthOfDescriptionInUserProfile,Bad User
0,6301,9/18/2006 1:07,2010-01-17 20:38:00,3269,3071,861,8,132,1
1,27052051,3/27/2009 12:30,2010-01-17 20:38:00,3214,3000,232,13,26,1
2,10836,10/27/2006 14:38,2010-06-18 03:35:00,1949,793,226,9,134,1
3,124346872,3/18/2010 22:15,2010-06-18 03:35:00,570,97,2122,11,97,1
4,156908320,6/18/2010 2:55,2010-06-18 03:35:00,309,5,0,15,24,1
5,10997,10/29/2006 9:50,2010-04-24 01:12:00,1119,9644,38674,12,158,1
6,131500314,4/10/2010 8:13,2010-04-24 01:12:00,1226,265,40,14,48,1
7,132090420,4/12/2010 2:29,2010-04-24 01:12:00,795,246,214,13,116,1
8,633293,1/14/2007 12:40,2010-01-24 11:59:00,2174,6029,12718,11,121,1
9,717883,1/27/2007 22:14,2010-02-06 06:25:00,7731,7029,873,6,70,1
10,763068,2/10/2007 10:51,2010-07-26 04:48:00,120,130,686,6,35,1
11,155795964,6/14/2010 23:43,2010-07-26 04:48:00,1800,1203,2200,12,149,1
12,783705,2/20/2007 11:16,2010-05-22 03:35:00,1660,23977,23205,8,68,1
13,96998768,12/15/2009 9:14,2010-05-22 03:35:00,1928,911,324,11,75,1
14,788352,2/22/2007 4:25,2009-12-31 02:18:00,1320,969,3528,14,106,1
15,41831605,5/22/2009 10:20,2009-12-31 02:18:00,1192,88,273,9,0,1
16,90375119,11/16/2009 5:41,2009-12-31 02:18:00,1833,1153,361,13,36,1
17,100350854,12/29/2009 17:46,2009-12-31 02:18:00,644,2,109,11,135,1
18,810011,3/4/2007 4:32,2010-01-27 06:37:00,11239,10537,2749,13,59,1
19,815299,3/6/2007 10:32,2010-04-16 21:22:00,3779,3920,1830,10,120,1
20,43238480,5/28/2009 20:16,2010-04-16 21:22:00,839,157,7,14,114,1
21,817045,3/6/2007 22:11,2010-01-05 13:15:00,12848,12933,2315,5,63,1
22,964981,3/11/2007 18:12,2010-01-15 02:58:00,1811,2469,2897,12,88,1
23,80190385,10/5/2009 21:16,2010-01-15 02:58:00,444,70,58,15,0,1
24,103385646,1/9/2010 15:29,2010-01-15 02:58:00,507,100,6,15,0,1
25,1091571,3/13/2007 9:52,2010-01-03 14:19:00,3697,5129,7819,13,101,1
26,96831357,12/14/2009 14:12,2010-01-03 14:19:00,1995,676,255,12,91,1
27,101227603,1/2/2010 7:56,2010-01-03 14:19:00,393,14,15,10,120,1
28,1303381,3/16/2007 13:28,2010-01-05 01:27:00,2990,3367,2361,14,119,1
29,15411151,7/12/2008 22:08,2010-01-05 01:27:00,14060,13823,5891,10,159,1
...,...,...,...,...,...,...,...,...,...
22193,170992562,7/26/2010 3:39,2010-07-31 10:34:00,623,75,44,7,0,1
22194,171003649,7/26/2010 4:32,2010-07-26 05:12:00,148,3,0,12,76,1
22195,171638815,7/27/2010 15:36,2010-08-02 10:39:00,442,140,90,15,81,1
22196,171719788,7/27/2010 19:52,2010-07-27 23:54:00,960,21,127,13,103,1
22197,171719922,7/27/2010 19:52,2010-07-28 01:07:00,943,19,90,12,93,1
22198,171801984,7/28/2010 0:44,2010-08-01 08:19:00,111,4,1,14,65,1
22199,171873466,7/28/2010 6:21,2010-08-02 00:00:00,2001,682,32,14,106,1
22200,173688140,8/1/2010 22:09,2010-08-02 00:00:00,486,11,0,10,151,1
22201,171973468,7/28/2010 11:27,2010-07-30 02:39:00,401,50,1,11,0,1
22202,172137527,7/28/2010 19:27,2010-07-28 22:17:00,488,10,0,15,87,1
22203,172148575,7/28/2010 20:01,2010-07-28 22:17:00,479,4,0,8,159,1
22204,172166784,7/28/2010 20:58,2010-07-28 21:30:00,522,7,1,9,0,1
22205,172244431,7/29/2010 1:43,2010-07-30 21:32:00,896,55,23,15,0,1
22206,172455318,7/29/2010 14:19,2010-07-29 19:11:00,89,0,0,14,0,1
22207,172465555,7/29/2010 14:48,2010-07-30 04:38:00,103,5,0,9,92,1
22208,172606999,7/29/2010 22:34,2010-07-29 23:29:00,559,5,0,14,22,1
22209,172674964,7/30/2010 3:51,2010-07-30 04:15:00,3,1,2,12,0,1
22210,172691819,7/30/2010 5:17,2010-07-30 05:48:00,487,3,9,5,0,1
22211,172702238,7/30/2010 6:11,2010-08-01 23:36:00,1705,104,12,10,0,1
22212,173692600,8/1/2010 22:26,2010-08-01 23:36:00,493,6,0,12,43,1
22213,172851423,7/30/2010 14:36,2010-07-30 15:39:00,51,2,1,14,59,1
22214,173027572,7/31/2010 1:23,2010-07-31 03:27:00,2,1,2,12,13,1
22215,173284223,7/31/2010 19:25,2010-07-31 19:58:00,28,0,3,9,0,1
22216,173300181,7/31/2010 20:26,2010-07-31 20:44:00,3,0,1,14,0,1
22217,173323726,7/31/2010 21:54,2010-07-31 22:20:00,390,2,42,10,158,1
22218,173360311,8/1/2010 0:22,2010-08-01 03:53:00,425,4,0,9,0,1
22219,173404110,8/1/2010 6:09,2010-08-02 03:14:00,597,81,0,15,0,1
22220,173502620,8/1/2010 12:05,2010-08-01 14:33:00,187,4,2,13,0,1
22221,173718053,8/2/2010 0:10,2010-08-02 03:37:00,83,10,35,8,0,1
22222,173721018,8/2/2010 0:23,2010-08-02 03:37:00,67,9,21,13,0,1

In [7]:
df_merged_data = pd.merge_ordered(badData, normalData, fill_method='ffill', left_by='CollectedAt')
df_merged_data.head(3)

,UserID,CreatedAt,CollectedAt,NumberOfFollowings,NumberOfFollowers,NumberOfTweets,LengthOfScreenName,LengthOfDescriptionInUserProfile,Bad User
0,6301,9/18/2006 1:07,2010-01-17 20:38:00,3269,3071,861,8,132,1
1,27052051,3/27/2009 12:30,2010-01-17 20:38:00,3214,3000,232,13,26,1
2,10836,10/27/2006 14:38,2010-06-18 03:35:00,1949,793,226,9,134,1

In [8]:
print("bad data index")
print(badData.index)

print("badData columns")
print(badData.columns)
#print("badData to numpy")
#print(badData.to_numpy())

print("badData describe")
print(badData.describe())

#print("badData T")
#print(badData.T)
print("df sorting by index")
print(badData.sort_index(axis=1, ascending=False).head(3))

print("df sorting by values")
print(badData.sort_values(by='CollectedAt').head(3))

print(normalData.head(3))
print(badData.head(3))
#sort the UserID column

bad data index
RangeIndex(start=0, stop=22223, step=1)
badData columns
Index(['UserID', 'CreatedAt', 'CollectedAt', 'NumberOfFollowings',
       'NumberOfFollowers', 'NumberOfTweets', 'LengthOfScreenName',
       'LengthOfDescriptionInUserProfile', 'Bad User'],
      dtype='object')
badData describe
             UserID  NumberOfFollowings  NumberOfFollowers  NumberOfTweets  \
count  2.222300e+04        22223.000000       2.222300e+04    22223.000000
mean   9.158609e+07         2212.416775       2.308996e+03     1135.044548
std    4.236440e+07         5376.689112       3.415880e+04     4301.928411
min    6.301000e+03            0.000000       0.000000e+00        0.000000
25%    5.912933e+07          326.500000       6.500000e+01       16.000000
50%    9.993590e+07          874.000000       2.950000e+02      113.000000
75%    1.225270e+08         1878.000000       1.224000e+03      636.000000
max    1.737670e+08       109388.000000       4.309347e+06   148047.000000

       LengthOfScreenName  LengthOfDescriptionInUserProfile  Bad User
count        22223.000000                      22223.000000   22223.0
mean            11.283445                         60.113981       1.0
std              2.630156                         54.093454       0.0
min              2.000000                          0.000000       1.0
25%              9.000000                          0.000000       1.0
50%             11.000000                         54.000000       1.0
75%             13.000000                        104.000000       1.0
max             15.000000                        474.000000       1.0
df sorting by index
   UserID  NumberOfTweets  NumberOfFollowings  NumberOfFollowers  \
0    6301             861                3269               3071
1   10836             226                1949                793
2   10997           38674                1119               9644

   LengthOfScreenName  LengthOfDescriptionInUserProfile         CreatedAt  \
0                   8                               132    9/18/2006 1:07
1                   9                               134  10/27/2006 14:38
2                  12                               158   10/29/2006 9:50

          CollectedAt  Bad User
0 2010-01-17 20:38:00         1
1 2010-06-18 03:35:00         1
2 2010-04-24 01:12:00         1
df sorting by values
          UserID         CreatedAt         CollectedAt  NumberOfFollowings  \
11150  100076521  12/28/2009 17:28 2009-12-30 18:20:00                   1
11131  100000937  12/28/2009 11:23 2009-12-30 18:20:00                   1
11005   99356505  12/25/2009 14:38 2009-12-30 18:20:00                   1

       NumberOfFollowers  NumberOfTweets  LengthOfScreenName  \
11150                  0               1                   9
11131                  1               1                   8
11005                  1               2                   6

       LengthOfDescriptionInUserProfile  Bad User
11150                                 0         1
11131                                 0         1
11005                                 0         1
   UserID        CreatedAt         CollectedAt  NumberOfFollowings  \
0     614  7/13/2006 15:30 2009-11-20 23:56:00                 510
1    1038  7/15/2006 16:12 2009-11-16 05:12:00                 304
2    1437  7/16/2006 12:29 2009-11-16 16:25:00                  45

   NumberOfFollowers  NumberOfTweets  LengthOfScreenName  \
0                350            3265                  10
1                443            4405                   7
2                 73             725                   6

   LengthOfDescriptionInUserProfile  Bad User
0                                34         0
1                               156         0
2                                37         0
   UserID         CreatedAt         CollectedAt  NumberOfFollowings  \
0    6301    9/18/2006 1:07 2010-01-17 20:38:00                3269
1   10836  10/27/2006 14:38 2010-06-18 03:35:00                1949
2   10997   10/29/2006 9:50 2010-04-24 01:12:00                1119

   NumberOfFollowers  NumberOfTweets  LengthOfScreenName  \
0               3071             861                   8
1                793             226                   9
2               9644           38674                  12

   LengthOfDescriptionInUserProfile  Bad User
0                               132         1
1                               134         1
2                               158         1