# Deep Learning Project

Developed by: Mandy Sack
August 2019

In [1]:
import os
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import scipy
import sklearn
import sys
import tensorflow as tf
from sklearn.model_selection import train_test_split

In [2]:
# import the data
# first, verify you have the files in the correct location
print(os.path.isdir("data"))
dataDir = "data/"

print(os.path.isfile("data/content_polluters_classified.csv"))
print(os.path.isfile("data/legitimate_users_classified.csv"))

bDcolnames=['UserID','CreatedAt','CollectedAt', 'NumberOfFollowings', 'NumberOfFollowers', 'NumberOfTweets','LengthOfScreenName','LengthOfDescriptionInUserProfile','BadUser'] 
badData = pd.read_csv(dataDir+"content_polluters_classified.csv", names=bDcolnames)

nDcolnames=['UserID','CreatedAt','CollectedAt', 'NumberOfFollowings', 'NumberOfFollowers', 'NumberOfTweets','LengthOfScreenName','LengthOfDescriptionInUserProfile','BadUser']
normalData = pd.read_csv(dataDir+"legitimate_users_classified.csv", names=nDcolnames)

#TODO: make this configurable to enable your own data to be passed in

True
True
True

In [3]:
print(badData.head(3))
print(normalData.head(3))

   UserID         CreatedAt      CollectedAt  NumberOfFollowings  \
0    6301    9/18/2006 1:07  1/17/2010 20:38                3269
1   10836  10/27/2006 14:38   6/18/2010 3:35                1949
2   10997   10/29/2006 9:50   4/24/2010 1:12                1119

   NumberOfFollowers  NumberOfTweets  LengthOfScreenName  \
0               3071             861                   8
1                793             226                   9
2               9644           38674                  12

   LengthOfDescriptionInUserProfile  BadUser
0                               132        1
1                               134        1
2                               158        1
   UserID        CreatedAt       CollectedAt  NumberOfFollowings  \
0     614  7/13/2006 15:30  11/20/2009 23:56                 510
1    1038  7/15/2006 16:12   11/16/2009 5:12                 304
2    1437  7/16/2006 12:29  11/16/2009 16:25                  45

   NumberOfFollowers  NumberOfTweets  LengthOfScreenName  \
0                350            3265                  10
1                443            4405                   7
2                 73             725                   6

   LengthOfDescriptionInUserProfile  BadUser
0                                34        0
1                               156        0
2                                37        0

In [4]:
# merge the data together based on CollectedAt colum & save to file
mergedData = pd.concat([badData,normalData])
mergedData.sort_values(by=['CollectedAt'], inplace=True)
mergedData.to_csv(dataDir+"mergedData_classified.csv")
mergedData

,UserID,CreatedAt,CollectedAt,NumberOfFollowings,NumberOfFollowers,NumberOfTweets,LengthOfScreenName,LengthOfDescriptionInUserProfile,BadUser
5857,61932874,7/31/2009 20:59,1/1/2010 0:22,1351,767,87,15,160,1
4994,53389291,7/3/2009 8:50,1/1/2010 0:22,1413,1082,466,13,149,1
7865,80910809,10/8/2009 13:32,1/1/2010 0:22,1852,1123,231,11,145,1
4733,49911277,6/23/2009 2:01,1/1/2010 0:22,866,1485,74,8,0,1
7475,78144979,9/28/2009 17:47,1/1/2010 0:23,3353,3347,798,14,70,1
11455,100910119,12/31/2009 23:23,1/1/2010 0:23,67,1,2,13,0,1
2967,30323406,4/10/2009 16:57,1/1/2010 0:33,1936,855,127,15,55,1
6388,67007483,8/19/2009 9:03,1/1/2010 0:33,18316,19548,3362,14,125,1
8726,87631976,11/5/2009 0:41,1/1/2010 0:33,1555,1161,396,11,91,1
6544,68790423,8/25/2009 14:54,1/1/2010 0:46,3434,3296,865,9,80,1
10028,95127591,12/6/2009 21:31,1/1/2010 0:46,362,94,21,11,0,1
11409,100827492,12/31/2009 13:14,1/1/2010 0:47,952,10,0,7,157,1
8777,88013323,11/6/2009 13:26,1/1/2010 0:47,827,208,217,11,27,1
9239,90932034,11/18/2009 12:49,1/1/2010 0:47,791,119,227,13,51,1
9237,90931620,11/18/2009 12:47,1/1/2010 0:47,836,149,238,14,68,1
8339,85067955,10/25/2009 7:13,1/1/2010 0:48,1684,700,2585,9,64,1
9046,89837249,11/13/2009 18:56,1/1/2010 10:24,1499,638,931,8,51,1
11491,100979862,1/1/2010 7:54,1/1/2010 10:27,357,0,1,12,26,1
5963,62775913,8/4/2009 4:58,1/1/2010 10:47,7616,7011,2950,14,104,1
8261,84332050,10/22/2009 9:03,1/1/2010 10:48,2886,2691,1036,14,66,1
954,16900750,10/21/2008 23:54,1/1/2010 10:50,240,37,4,7,0,1
72,7400262,7/11/2007 7:30,1/1/2010 10:50,3051,3534,818,13,155,1
1722,19937098,2/2/2009 16:12,1/1/2010 10:52,39309,36143,5263,15,153,1
824,16472256,9/26/2008 14:03,1/1/2010 11:16,4903,4901,1214,13,85,1
46,5925682,5/10/2007 5:20,1/1/2010 11:46,16967,15424,11152,9,36,1
11428,100869831,12/31/2009 18:30,1/1/2010 11:46,210,0,0,14,0,1
11435,100876414,12/31/2009 19:24,1/1/2010 11:47,950,3,0,9,31,1
9677,92989672,11/27/2009 9:31,1/1/2010 12:16,880,23,22,8,103,1
3719,39352567,5/11/2009 16:54,1/1/2010 12:17,4904,4458,1446,15,159,1
1445,18756494,1/8/2009 0:42,1/1/2010 12:18,3276,2984,459,7,0,1
...,...,...,...,...,...,...,...,...,...
22208,173404110,8/1/2010 6:09,8/2/2010 3:14,597,81,0,15,0,1
15439,116403859,2/22/2010 3:47,8/2/2010 3:36,1776,600,1969,14,16,1
22220,173721018,8/2/2010 0:23,8/2/2010 3:37,67,9,21,13,0,1
22219,173718053,8/2/2010 0:10,8/2/2010 3:37,83,10,35,8,0,1
19698,141755168,5/8/2010 18:43,8/2/2010 3:59,901,208,956,12,0,1
20186,145720081,5/19/2010 13:08,8/2/2010 3:59,1473,463,306,14,86,1
20705,151415237,6/3/2010 5:41,8/2/2010 4:00,191,17,16,6,18,1
3221,33600372,4/20/2009 12:57,8/2/2010 4:23,15939,15181,23521,8,86,1
7263,75547998,9/19/2009 8:26,8/2/2010 4:23,1314,335,5193,12,124,1
18736,135735189,4/21/2010 22:43,8/2/2010 4:48,1149,794,548,15,0,1
22222,173766965,8/2/2010 4:02,8/2/2010 4:48,12,0,1,13,0,1
22124,170016290,7/23/2010 13:55,8/2/2010 4:48,196,11,37,15,144,1
15546,116616620,2/22/2010 20:52,8/2/2010 4:48,328,77,114,10,0,1
21104,155385475,6/13/2010 19:44,8/2/2010 5:11,1733,1138,99,15,30,1
7661,78933181,10/1/2009 10:41,8/2/2010 5:11,296,51,70,8,86,1
21396,158840946,6/23/2010 15:07,8/2/2010 5:34,791,652,10,15,0,1
6007,63303879,8/5/2009 19:03,8/2/2010 5:34,223,272,179,10,48,1
1233,18014787,12/10/2008 1:32,8/2/2010 5:57,758,326,609,8,132,1
21388,158693998,6/23/2010 5:33,8/2/2010 5:57,1380,188,230,8,44,1
4476,47073286,6/14/2009 5:58,8/2/2010 6:21,17145,16243,2694,15,40,1
7664,78933486,10/1/2009 10:42,8/2/2010 6:21,368,58,30,12,82,1
19742,142212063,5/10/2010 3:09,8/2/2010 6:21,172,11,6,11,148,1
16695,122670832,3/13/2010 7:48,8/2/2010 6:21,681,189,124,14,148,1
16499,121676973,3/10/2010 1:09,8/2/2010 6:46,180,87,203,12,0,1
7665,78935634,10/1/2009 10:51,8/2/2010 7:09,346,42,2,10,67,1
14294,110958700,2/3/2010 4:19,8/2/2010 7:09,576,385,601,8,15,1
14662,112512877,2/8/2010 13:35,8/2/2010 7:55,2165,2022,4051,12,0,1
21677,162427782,7/3/2010 11:55,8/2/2010 8:18,163,11,25,12,5,1
20125,145173174,5/18/2010 3:49,8/2/2010 8:18,1183,1596,18,9,0,1
12114,102401270,1/6/2010 9:36,8/2/2010 9:52,9737,9060,63526,10,141,1

In [5]:
# Remove nonnumeric columns
mergedData.drop("CreatedAt", axis=1, inplace=True)
mergedData.drop("CollectedAt", axis=1, inplace=True)
mergedData.drop("UserID", axis=1, inplace=True)
mergedData.head(3)

,NumberOfFollowings,NumberOfFollowers,NumberOfTweets,LengthOfScreenName,LengthOfDescriptionInUserProfile,BadUser
5857,1351,767,87,15,160,1
4994,1413,1082,466,13,149,1
7865,1852,1123,231,11,145,1

In [6]:
column_names = list(mergedData.columns)
# features are the attributes of the data 
features = column_names[:-1]
# label is to be predicted
labels = column_names[-1]

In [7]:
# The data needs to be split into a training set and a test set
# To use 80/20, set the training size to .8
training_set_size_portion = .8

# Keep track of the accuracy score
accuracy_score = 0

# The DNN has hidden units, set the spec for them here
hidden_units_spec = [10,20,10]
n_classes_spec = 2

# Define the temp directory for keeping the model and checkpoints
tmp_dir_spec = "data/model"

# The number of training steps
steps_spec = 2000

# The number of epochs
epochs_spec = 500
#1500 got essentially the same amount but took exponentially longer

In [8]:
# Randomize dataset & save to file
randomized_data = mergedData.sample(frac=1)
mergedData.to_csv(dataDir+"trainingData_classified.csv")

In [9]:
total_records = len(randomized_data)
training_set_size = int(total_records * training_set_size_portion)
test_set_size = total_records = training_set_size

In [10]:
# Build the training features and labels
training_features = randomized_data.head(training_set_size)[features].copy()
training_labels = randomized_data.head(training_set_size)[labels].copy()
print(training_features.head())
print(training_labels.head())

       NumberOfFollowings  NumberOfFollowers  NumberOfTweets  \
2341                  149                228            5014
13452                 112                 57              38
15533                  36                 17             112
465                  1274                854              46
19177                 121                 21             102

       LengthOfScreenName  LengthOfDescriptionInUserProfile
2341                   10                                20
13452                  15                               142
15533                   8                                51
465                     7                                39
19177                  12                                 0
2341     0
13452    0
15533    0
465      1
19177    0
Name: BadUser, dtype: int64

In [11]:
# Build the testing features and labels
testing_features = randomized_data.tail(test_set_size)[features].copy()
testing_labels = randomized_data.tail(test_set_size)[labels].copy()

In [12]:
feature_columns = [tf.feature_column.numeric_column(key) for key in features]

In [13]:
classifier = tf.estimator.DNNClassifier( feature_columns=feature_columns, hidden_units=hidden_units_spec,  n_classes=n_classes_spec, model_dir=tmp_dir_spec)

In [14]:
# Define the training input function
train_input_fn = tf.estimator.inputs.pandas_input_fn( x=training_features, y=training_labels, num_epochs=epochs_spec, shuffle=True)

In [15]:
# Train the model using the classifer.
classifier.train(input_fn=train_input_fn, steps=steps_spec)

WARNING: Logging before flag parsing goes to stderr.
W0826 23:54:13.271922 20140 deprecation.py:323] From C:\Users\user\Anaconda3\lib\site-packages\tensorflow\python\training\training_util.py:236: Variable.initialized_value (from tensorflow.python.ops.variables) is deprecated and will be removed in a future version.
Instructions for updating:
Use Variable.read_value. Variables in 2.X are initialized automatically both in eager and graph (inside tf.defun) contexts.
W0826 23:54:13.305154 20140 deprecation.py:323] From C:\Users\user\Anaconda3\lib\site-packages\tensorflow_estimator\python\estimator\inputs\queues\feeding_queue_runner.py:62: QueueRunner.__init__ (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
W0826 23:54:13.308626 20140 deprecation.py:323] From C:\Users\user\Anaconda3\lib\site-packages\tensorflow_estimator\python\estimator\inputs\queues\feeding_functions.py:500: add_queue_runner (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
W0826 23:54:13.329955 20140 deprecation.py:506] From C:\Users\user\Anaconda3\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
W0826 23:54:15.074882 20140 deprecation.py:323] From C:\Users\user\Anaconda3\lib\site-packages\tensorflow_estimator\python\estimator\canned\head.py:437: to_float (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use `tf.cast` instead.
W0826 23:54:15.263858 20140 deprecation.py:323] From C:\Users\user\Anaconda3\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
W0826 23:54:15.459283 20140 deprecation.py:506] From C:\Users\user\Anaconda3\lib\site-packages\tensorflow\python\training\adagrad.py:76: calling Constant.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
W0826 23:54:17.657055 20140 deprecation.py:323] From C:\Users\user\Anaconda3\lib\site-packages\tensorflow\python\training\saver.py:1276: checkpoint_exists (from tensorflow.python.training.checkpoint_management) is deprecated and will be removed in a future version.
Instructions for updating:
Use standard file APIs to check for files with this prefix.
W0826 23:54:17.772624 20140 deprecation.py:323] From C:\Users\user\Anaconda3\lib\site-packages\tensorflow\python\training\saver.py:1066: get_checkpoint_mtimes (from tensorflow.python.training.checkpoint_management) is deprecated and will be removed in a future version.
Instructions for updating:
Use standard file utilities to get mtimes.
W0826 23:54:17.959120 20140 deprecation.py:323] From C:\Users\user\Anaconda3\lib\site-packages\tensorflow\python\training\monitored_session.py:875: start_queue_runners (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
W0826 23:54:36.437056 20140 deprecation.py:323] From C:\Users\user\Anaconda3\lib\site-packages\tensorflow\python\training\saver.py:960: remove_checkpoint (from tensorflow.python.training.checkpoint_management) is deprecated and will be removed in a future version.
Instructions for updating:
Use standard file APIs to delete files with this prefix.

In [16]:
# Define the test input function
test_input_fn = tf.estimator.inputs.pandas_input_fn( x=testing_features, y=testing_labels, num_epochs=epochs_spec, shuffle=False)

In [17]:
# Evaluate accuracy
accuracy_score = classifier.evaluate(input_fn=test_input_fn)["accuracy"]
print("Accuracy = {}".format(accuracy_score))

W0826 23:54:39.020307 20140 deprecation.py:323] From C:\Users\user\Anaconda3\lib\site-packages\tensorflow\python\ops\metrics_impl.py:2027: div (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Deprecated in favor of operator or tf.math.divide.
W0826 23:54:39.813450 20140 metrics_impl.py:804] Trapezoidal rule is known to produce incorrect PR-AUCs; please switch to "careful_interpolation" instead.
W0826 23:54:39.893265 20140 metrics_impl.py:804] Trapezoidal rule is known to produce incorrect PR-AUCs; please switch to "careful_interpolation" instead.

Accuracy = 0.8912015557289124

In [18]:
# Create a prediction set --
# this is a list of input features that you want to classify
# Using a "known" Bad User to see if it classifies correctly
prediction_set = pd.DataFrame({'NumberOfFollowings':[12848], 'NumberOfFollowers':[12933], 'NumberOfTweets':[2315],'LengthOfScreenName':[5],'LengthOfDescriptionInUserProfile':[63]})

In [19]:
predict_input_fn = tf.estimator.inputs.pandas_input_fn( x=prediction_set, num_epochs=1, shuffle=False)

In [20]:
# Get a list of the predictions
predictions = list(classifier.predict(input_fn=predict_input_fn))

In [21]:
predicted_classes = [p["classes"] for p in predictions] 
results=np.concatenate(predicted_classes) 
print(results)

[b'1']